aiosqlite
alembic
asyncpg
psycopg2-binary
sqlalchemy
sqlalchemy_utils
fastapi_sqlalchemy
fastapi
uvicorn
pydantic[email]
bcrypt
python-dotenv
python-multipart
fastapi-jwt-auth
fastapi_pagination
httpx
pyjwt
pytest
pytest_asyncio
pytest_mock
